*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-image: linear-gradient(black, grey);
    display: flex;
    justify-content: space-around;
}

.lista-cria{
 color: aquamarine;
 font-size: 27px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lista-juvenil{
    display: inline-block;
}

.sas{
   background-image: linear-gradient(grey, black);
   height: 500px;
   padding: 100px;
   color: white;
   
}

.ses{
    padding: 15px;
}

.sis{
    padding: 15px;
}
